
<button (click)="iniciar()">Iniciar</button>
<button (click)="parar()">Parar</button>
<!-- <span *ngFor="let item of BARRAS"> {{BARRAS}}</span> -->
<h1> {{message}}</h1>



<h2>------------------------------------------------------------------------------------------------------------------------------------</h2>

<h4>Cuestion 1</h4>
<!-- <button (click)="emitir">Emitir números</button> -->
<!-- <li *ngfor="let item of numeros"> {{item}}</li> -->
<p *ngFor="let i of sequence | slice:1:10" >{{sequence.subscribe()}}</p>
<!-- <div>Time: {{ sequence | slice }}</div> -->
